@model Web.Models.PermissaoViewModel

@{
    ViewData["Title"] = "CreatePermissao";
}

<h1>Criar Permissão</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePermissaoUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       <div class="form-group">
                <label asp-for="Perfil" class="control-label"></label>
                <input asp-for="Perfil" class="form-control" />
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionalidade" class="control-label"></label>
                <input asp-for="Funcionalidade" class="form-control" />
                <span asp-validation-for="Funcionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permissoes" class="control-label"></label>
                <input asp-for="Permissoes" class="form-control" />
                <span asp-validation-for="Permissoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
