
    @{
        ViewData["Title"] = "Administração";
    }

    <h1 class="text-center"><i>Administração</i></h1>

    <div class="container">
        <div class="row">
            <div class="col">                
                <a asp-controller="Administracao" asp-action="Permissoes" class="btn btn-outline-info">
                    <spam class="fa fa-chalkboard-teacher fa-7x" style="color:steelblue;"></spam>
                    <br /><h5 class="card-title">Permissões de Usuários</h5>
                </a>                       
            </div>
            <div class="col">
               
            </div>
            
        </div>
    </div>
