@model List<Web.Models.DepartamentoViewModel>
@{
    ViewData["Title"] = "Modulo de Departamentos";
}

<h1 class="text-center"><i>@ViewData["Title"]</i></h1>

<p>
    <a asp-controller="Departamento" asp-action="Create" class="btn btn-outline-info">Adicionar Departamento</a>
</p>