@model Web.Models.ProjetoViewModel

@{
    ViewData["Title"] = "Editar Projeto";
}

<h1>@ViewData["Title"]</h1>

<hr />

<form asp-action="Edit">

    <vc:Erros></vc:Erros>

    <input type="hidden" asp-for="Id" />

    <div class="form-row">
        <div class="form-group col-md-6">

            <label asp-for="Titulo"></label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>

            <label asp-for="Descricao"></label>
            <input asp-for="Descricao" class="form-control"/>
            <span asp-validation-for="Descricao" class="text-danger"></span>

            <label asp-for="DataInicio"></label>
            <input asp-for="DataInicio" class="form-control" />
            <span asp-validation-for="DataInicio" class="text-danger"></span>

            <label asp-for="DataFim"></label>
            <input asp-for="DataFim" class="form-control" />
            <span asp-validation-for="DataFim" class="text-danger"></span>       

        </div>
    </div>

    <div class="form-group">
        <a class="btn btn-info" asp-action="Index">Voltar</a>
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}