@using Web.Extensions
@model Web.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Editar Membro";
}

<h1>@ViewData["Title"]</h1>

<hr />

<form asp-action="Edit">

    <vc:Erros></vc:Erros>

    <input type="hidden" asp-for="Id" />

    <div class="form-row">
        <div class="form-group col-md-6">

            <label asp-for="Nome"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>

            <label asp-for="CPF"></label>
            <input asp-for="CPF" class="form-control" id="cpf" />
            <span asp-validation-for="CPF" class="text-danger"></span>

            <label asp-for="DataNascimento"></label>
            <input asp-for="DataNascimento" class="form-control" />
            <span asp-validation-for="DataNascimento" class="text-danger"></span>

            <label asp-for="DataCadastro"></label>
            <input asp-for="DataCadastro" class="form-control" />
            <span asp-validation-for="DataCadastro" class="text-danger"></span>

            <label asp-for="Telefone"></label>
            <input asp-for="Telefone" class="form-control" id="telefone" />
            <span asp-validation-for="Telefone" class="text-danger"></span>

            @if (this.VerificaPermissao(Model,"Usuario","CreatePermissao"))
            {
                <label>Funcionou!!!!!</label>
            }
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}